<div class="loader-container">
    <div class="text-center">
        <div class="mb-3">
            <img src="{{ asset('guestassets/images/ticketier.png') }}" height="36" alt="">
        </div>
        <div class="text-secondary mb-3">Processing</div>
        <div class="progress progress-sm">
            <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
    </div>
</div>
